{# SPDX-License-Identifier: MIT #}
{# Copyright © 2023 André Santos #}

{# input: imports: Iterable[Tuple[str, Iterable[str]]] #}
{# input: strategies: Iterable[MessageStrategy] #}
{# input: assumptions: Iterable[HplProperty] #}
{# input: behaviour: Iterable[HplProperty] #}

{##############################################################################}
{# IMPORTS #}
{##############################################################################}

{% import 'strategy.py.jinja' as S %}

{##############################################################################}
{# RENDERED CODE #}
{##############################################################################}

# SPDX-License-Identifier: MIT
# Copyright © 2023 André Santos

###############################################################################
# Properties
###############################################################################

# Assumptions
{% for property in assumptions %}
# {{ property }}
{% else %}
# (none)
{% endfor %}

# Behaviour
{% for property in behaviour %}
# {{ property }}
{% else %}
# (none)
{% endfor %}


###############################################################################
# Imports
###############################################################################

from hypothesis import assume, given
from hypothesis.strategies import (
    booleans,
    composite,
    floats,
    integers,
    just,
    sampled_from,
    text,
)

{# from {{ pkg }} import {{ names|join(', ') }} #}
{% for pkg, names in imports %}
import {{ pkg }}
{% endfor %}

###############################################################################
# Data Strategies
###############################################################################


{% for strategy in strategies %}
{{ S.msg_strategy(strategy) }}

{% endfor %}
